In [170]:
import numpy as np
import pandas

class popularity_recommender_py():
    def __init__(self):
        self.train_data = None
        self.user_id = None
        self.item_id = None
        self.popularity_recommendations = None
        
 
    def create(self, train_data, user_id, item_id):
        self.train_data = train_data
        self.user_id = user_id
        self.item_id = item_id


        train_data_grouped = train_data.groupby([self.item_id]).agg({self.user_id: 'count'}).reset_index()
        train_data_grouped.rename(columns = {'user_id': 'score'},inplace=True)
    

        print(train_data_grouped.head(5))
        train_data_grouped['score']=train_data_grouped[user_id]
        train_data_grouped.drop(user_id,axis=1,inplace=True)
        train_data_sort = train_data_grouped.sort_values(['score', self.item_id], ascending = [0,1])
    
        #Generate a recommendation rank based upon score
        train_data_sort['Rank'] = train_data_sort['score'].rank(ascending=0, method='first')
        
        #Get the top 10 recommendations
        self.popularity_recommendations = train_data_sort.head(10)

    #Use the popularity based recommender system model to
    #make recommendations
    def recommend(self, user_id):    
        user_recommendations = self.popularity_recommendations
        
        #Add user_id column for which the recommendations are being generated
        user_recommendations['user_id'] = user_id
    
        #Bring user_id column to the front
        cols = user_recommendations.columns.tolist()
        cols = cols[-1:] + cols[:-1]
        user_recommendations = user_recommendations[cols]
        
        return user_recommendations
    

#Class for Item similarity based Recommender System model
class item_similarity_recommender_py():
    def __init__(self):
        self.train_data = None
        self.user_id = None
        self.item_id = None
        self.cooccurence_matrix = None
        self.m_dict = None
        self.rev_m_dict = None
        self.item_similarity_recommendations = None
        

    def get_user_items(self, user):
        user_data = self.train_data[self.train_data[self.user_id] == user]
        user_items = list(user_data[self.item_id].unique())
        
        return user_items
        

    def get_item_users(self, item):
        item_data = self.train_data[self.train_data[self.item_id] == item]
        item_users = set(item_data[self.user_id].unique())
            
        return item_users
        

    def get_all_items_train_data(self):
        all_items = list(self.train_data[self.item_id].unique())
            
        return all_items
        

    def construct_cooccurence_matrix(self, user_m, all_m):
            

        user_m_users = []        
        for i in range(0, len(user_m)):
            user_m_users.append(self.get_item_users(user_m[i]))

        cooccurence_matrix = np.matrix(np.zeros(shape=(len(user_m), len(all_m))), float)
           

        for i in range(0,len(all_m)):
            
            m_i_data = self.train_data[self.train_data[self.item_id] == all_m[i]]
            users_i = set(m_i_data[self.user_id].unique())
            
            for j in range(0,len(user_m)):       
                    
                
                users_j = user_m_users[j]
                    
                
                users_intersection = users_i.intersection(users_j)
                
                
                if len(users_intersection) != 0:
                    
                    users_union = users_i.union(users_j)
                    
                    cooccurence_matrix[j,i] = float(len(users_intersection))/float(len(users_union))
                else:
                    cooccurence_matrix[j,i] = 0
                    
        
        return cooccurence_matrix

    
    def generate_top_recommendations(self, user, cooccurence_matrix, all_m, user_m):
        print("Non zero values in cooccurence_matrix :%d" % np.count_nonzero(cooccurence_matrix))
        
        
        user_sim_scores = cooccurence_matrix.sum(axis=0)/float(cooccurence_matrix.shape[0])
        user_sim_scores = np.array(user_sim_scores)[0].tolist()
 
       
        sort_index = sorted(((e,i) for i,e in enumerate(list(user_sim_scores))), reverse=True)
    
        
        columns = ['user_id', 'movie', 'score', 'rank']
        #index = np.arange(1) # array of numbers for the number of samples
        df = pandas.DataFrame(columns=columns)
         
        #Fill the dataframe with top 10 item based recommendations
        rank = 1 
        for i in range(0,len(sort_index)):
            if ~np.isnan(sort_index[i][0]) and all_m[sort_index[i][1]] not in user_m and rank <= 10:
                df.loc[len(df)]=[user,all_m[sort_index[i][1]],sort_index[i][0],rank]
                rank = rank+1
        
        #Handle the case where there are no recommendations
        if df.shape[0] == 0:
            print("The current user has no movies for training the item similarity based recommendation model.")
            return -1
        else:
            return df
 
    #Create the item similarity based recommender system model
    def create(self, train_data, user_id, item_id):
        self.train_data = train_data
        self.user_id = user_id
        self.item_id = item_id

    #Use the item similarity based recommender system model to
    #make recommendations
    def recommend(self, user):
        
        
        user_m = self.get_user_items(user)    
            
        print("No. of unique movies for the user: %d" % len(user_m))
        
  
        all_m = self.get_all_items_train_data()
        
        print("no. of unique movies in the training set: %d" % len(all_m))
         
    
        cooccurence_matrix = self.construct_cooccurence_matrix(user_m, all_m)
        

        df_recommendations = self.generate_top_recommendations(user, cooccurence_matrix, all_m, user_m)
                
        return df_recommendations
    
    #Get similar items to given items
    def get_similar_items(self, item_list):
        
        user_m = item_list
        

        all_m = self.get_all_items_train_data()
        
        print("no. of unique movies in the training set: %d" % len(all_m))
         

        cooccurence_matrix = self.construct_cooccurence_matrix(user_m, all_m)

        
        user = ""
        df_recommendations = self.generate_top_recommendations(user, cooccurence_matrix, all_m, user_m)
         
        return df_recommendations

In [171]:
import pandas as pd
m_df_1 = pd.read_csv('ratings.csv')
m_df_1.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [172]:
m_df_2 = pd.read_csv('movies.csv')
m_df_2.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [173]:
# combine both data
m_df = pd.merge(m_df_1,m_df_2.drop_duplicates(['movieId']), on='movieId', how='left')
m_df.dropna(inplace=True)
m_df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [174]:
m_grouped = m_df.groupby(['title']).agg({'rating':'count'}).reset_index()
m_grouped.head()

                                     title  rating
0                               '71 (2014)       1
1  'Hellboy': The Seeds of Creation (2004)       1
2                   'Round Midnight (1986)       2
3                      'Salem's Lot (2004)       1
4                'Til There Was You (1997)       2

In [175]:
grouped_sum = m_grouped['rating'].sum()
m_grouped['percentage'] = (m_grouped['rating'] / grouped_sum ) * 100
m_grouped.sort_values(['rating', 'title'], ascending=[0,1])

                                                  title  rating  percentage
3158                                Forrest Gump (1994)     329    0.326272
7593                   Shawshank Redemption, The (1994)     317    0.314372
6865                                Pulp Fiction (1994)     307    0.304455
7680                   Silence of the Lambs, The (1991)     279    0.276687
5512                                 Matrix, The (1999)     278    0.275695
...                                                 ...     ...         ...
9705                                        Zoom (2006)       1    0.000992
9706                                        Zoom (2015)       1    0.000992
9709                                        Zulu (2013)       1    0.000992
9713  anohana: The Flower We Saw That Day - The Movi...       1    0.000992
9718          À nous la liberté (Freedom for Us) (1931)       1    0.000992

[9719 rows x 3 columns]

Popularity Recommendation Engine

In [176]:
pr = popularity_recommender_py()

In [177]:
pr.create(m_df, 'userId', 'title')

                                     title  userId
0                               '71 (2014)       1
1  'Hellboy': The Seeds of Creation (2004)       1
2                   'Round Midnight (1986)       2
3                      'Salem's Lot (2004)       1
4                'Til There Was You (1997)       2

In [178]:
pr.recommend(m_df['userId'][5])

      user_id                                      title  score  Rank
3158        1                        Forrest Gump (1994)    329   1.0
7593        1           Shawshank Redemption, The (1994)    317   2.0
6865        1                        Pulp Fiction (1994)    307   3.0
7680        1           Silence of the Lambs, The (1991)    279   4.0
5512        1                         Matrix, The (1999)    278   5.0
8001        1  Star Wars: Episode IV - A New Hope (1977)    251   6.0
4662        1                       Jurassic Park (1993)    238   7.0
1337        1                          Braveheart (1995)    237   8.0
8363        1          Terminator 2: Judgment Day (1991)    224   9.0
7421        1                    Schindler's List (1993)    220  10.0

Item Similarity Recommendation

In [179]:
ir = item_similarity_recommender_py()
ir.create(m_df, 'userId', 'title')

In [180]:
user_items = ir.get_user_items(m_df['userId'][5])

In [181]:
for user_item in user_items:
    print(user_item)

Toy Story (1995)
Grumpier Old Men (1995)
Heat (1995)
Seven (a.k.a. Se7en) (1995)
Usual Suspects, The (1995)
From Dusk Till Dawn (1996)
Bottle Rocket (1996)
Braveheart (1995)
Rob Roy (1995)
Canadian Bacon (1995)
Desperado (1995)
Billy Madison (1995)
Clerks (1994)
Dumb & Dumber (Dumb and Dumber) (1994)
Ed Wood (1994)
Star Wars: Episode IV - A New Hope (1977)
Pulp Fiction (1994)
Stargate (1994)
Tommy Boy (1995)
Clear and Present Danger (1994)
Forrest Gump (1994)
Jungle Book, The (1994)
Mask, The (1994)
Blown Away (1994)
Dazed and Confused (1993)
Fugitive, The (1993)
Jurassic Park (1993)
Mrs. Doubtfire (1993)
Schindler's List (1993)
So I Married an Axe Murderer (1993)
Three Musketeers, The (1993)
Tombstone (1993)
Dances with Wolves (1990)
Batman (1989)
Silence of the Lambs, The (1991)
Pinocchio (1940)
Fargo (1996)
Mission: Impossible (1996)
James and the Giant Peach (1996)
Space Jam (1996)
Rock, The (1996)
Twister (1996)
Independence Day (a.k.a. ID4) (1996)
She's the One (1996)
Wizard of Oz, The (1939)
Citizen Kane (1941)
Adventures of Robin Hood, The (1938)
Ghost and Mrs. Muir, The (1947)
Mr. Smith Goes to Washington (1939)
Escape to Witch Mountain (1975)
Winnie the Pooh and the Blustery Day (1968)
Three Caballeros, The (1945)
Sword in the Stone, The (1963)
Dumbo (1941)
Pete's Dragon (1977)
Bedknobs and Broomsticks (1971)
Alice in Wonderland (1951)
That Thing You Do! (1996)
Ghost and the Darkness, The (1996)
Swingers (1996)
Willy Wonka & the Chocolate Factory (1971)
Monty Python's Life of Brian (1979)
Reservoir Dogs (1992)
Platoon (1986)
Basic Instinct (1992)
E.T. the Extra-Terrestrial (1982)
Abyss, The (1989)
Monty Python and the Holy Grail (1975)
Star Wars: Episode V - The Empire Strikes Back (1980)
Princess Bride, The (1987)
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)
Clockwork Orange, A (1971)
Apocalypse Now (1979)
Star Wars: Episode VI - Return of the Jedi (1983)
Goodfellas (1990)
Alien (1979)
Psycho (1960)
Blues Brothers, The (1980)
Full Metal Jacket (1987)
Henry V (1989)
Quiet Man, The (1952)
Terminator, The (1984)
Duck Soup (1933)
Shining, The (1980)
Groundhog Day (1993)
Back to the Future (1985)
Highlander (1986)
Young Frankenstein (1974)
Fantasia (1940)
Indiana Jones and the Last Crusade (1989)
Pink Floyd: The Wall (1982)
Nosferatu (Nosferatu, eine Symphonie des Grauens) (1922)
Batman Returns (1992)
Sneakers (1992)
Last of the Mohicans, The (1992)
McHale's Navy (1997)
Best Men (1997)
Grosse Pointe Blank (1997)
Austin Powers: International Man of Mystery (1997)
Con Air (1997)
Face/Off (1997)
Men in Black (a.k.a. MIB) (1997)
Conan the Barbarian (1982)
L.A. Confidential (1997)
Kiss the Girls (1997)
Game, The (1997)
I Know What You Did Last Summer (1997)
Starship Troopers (1997)
Big Lebowski, The (1998)
Wedding Singer, The (1998)
Welcome to Woop-Woop (1997)
Newton Boys, The (1998)
Wild Things (1998)
Small Soldiers (1998)
All Quiet on the Western Front (1930)
Rocky (1976)
Labyrinth (1986)
Lethal Weapon (1987)
Goonies, The (1985)
Back to the Future Part III (1990)
Bambi (1942)
Saving Private Ryan (1998)
Black Cauldron, The (1985)
Flight of the Navigator (1986)
Great Mouse Detective, The (1986)
Honey, I Shrunk the Kids (1989)
Negotiator, The (1998)
Jungle Book, The (1967)
Rescuers, The (1977)
Return to Oz (1985)
Rocketeer, The (1991)
Sleeping Beauty (1959)
Song of the South (1946)
Tron (1982)
Indiana Jones and the Temple of Doom (1984)
Lord of the Rings, The (1978)
Charlotte's Web (1973)
Secret of NIMH, The (1982)
American Tail, An (1986)
Legend (1985)
NeverEnding Story, The (1984)
Beetlejuice (1988)
Willow (1988)
Toys (1992)
Few Good Men, A (1992)
Rush Hour (1998)
Edward Scissorhands (1990)
American History X (1998)
I Still Know What You Did Last Summer (1998)
Enemy of the State (1998)
King Kong (1933)
Very Bad Things (1998)
Psycho (1998)
Rushmore (1998)
Romancing the Stone (1984)
Young Sherlock Holmes (1985)
Thin Red Line, The (1998)
Howard the Duck (1986)
Texas Chainsaw Massacre, The (1974)
Crocodile Dundee (1986)
¡Three Amigos! (1986)
20 Dates (1998)
Office Space (1999)
Logan's Run (1976)
Planet of the Apes (1968)
Lock, Stock & Two Smoking Barrels (1998)
Matrix, The (1999)
Go (1999)
SLC Punk! (1998)
Dick Tracy (1990)
Mummy, The (1999)
Star Wars: Episode I - The Phantom Menace (1999)
Superman (1978)
Superman II (1980)
Dracula (1931)
Frankenstein (1931)
Wolf Man, The (1941)
Rocky Horror Picture Show, The (1975)
Run Lola Run (Lola rennt) (1998)
South Park: Bigger, Longer and Uncut (1999)
Ghostbusters (a.k.a. Ghost Busters) (1984)
Iron Giant, The (1999)
Big (1988)
13th Warrior, The (1999)
American Beauty (1999)
Excalibur (1981)
Gulliver's Travels (1939)
Total Recall (1990)
Dirty Dozen, The (1967)
Goldfinger (1964)
From Russia with Love (1963)
Dr. No (1962)
Fight Club (1999)
RoboCop (1987)
Who Framed Roger Rabbit? (1988)
Live and Let Die (1973)
Thunderball (1965)
Being John Malkovich (1999)
Spaceballs (1987)
Robin Hood (1973)
Dogma (1999)
Messenger: The Story of Joan of Arc, The (1999)
Longest Day, The (1962)
Green Mile, The (1999)
Easy Rider (1969)
Talented Mr. Ripley, The (1999)
Encino Man (1992)
Sister Act (1992)
Wayne's World (1992)
Scream 3 (2000)
JFK (1991)
Teenage Mutant Ninja Turtles II: The Secret of the Ooze (1991)
Teenage Mutant Ninja Turtles III (1993)
Red Dawn (1984)
Good Morning, Vietnam (1987)
Grumpy Old Men (1993)
Ladyhawke (1985)
Hook (1991)
Predator (1987)
Gladiator (2000)
Road Trip (2000)
Man with the Golden Gun, The (1974)
Blazing Saddles (1974)
Mad Max (1979)
Road Warrior, The (Mad Max 2) (1981)
Shaft (1971)
Big Trouble in Little China (1986)
Shaft (2000)
X-Men (2000)
What About Bob? (1991)
Transformers: The Movie (1986)
M*A*S*H (a.k.a. MASH) (1970)

In [182]:
ir.recommend(m_df['userId'][5])

No. of unique movies for the user: 232
no. of unique movies in the training set: 9719
Non zero values in cooccurence_matrix :1471671

  user_id                                         movie     score rank
0       1               Ferris Bueller's Day Off (1986)  0.203002    1
1       1                          Mars Attacks! (1996)  0.195291    2
2       1             Back to the Future Part II (1989)  0.194719    3
3       1                               Die Hard (1988)  0.190291    4
4       1                    Breakfast Club, The (1985)  0.189557    5
5       1                     Fifth Element, The (1997)  0.189308    6
6       1                                 Aliens (1986)  0.185961    7
7       1                                   Jaws (1975)  0.185371    8
8       1                            Unbreakable (2000)  0.184817    9
9       1  Austin Powers: The Spy Who Shagged Me (1999)  0.184603   10

In [183]:
ir.get_similar_items(['Ferris Bueller\'s Day Off (1986)', 'Mars Attacks! (1996)'])

no. of unique movies in the training set: 9719
Non zero values in cooccurence_matrix :15343

  user_id                                        movie     score rank
0          Indiana Jones and the Temple of Doom (1984)  0.416207    1
1                           Breakfast Club, The (1985)  0.391935    2
2               Monty Python and the Holy Grail (1975)  0.377393    3
3                                  Total Recall (1990)  0.376270    4
4                                 Groundhog Day (1993)  0.366150    5
5                             Starship Troopers (1997)  0.362972    6
6                    Back to the Future Part II (1989)  0.361658    7
7                                       RoboCop (1987)  0.359392    8
8           Ghostbusters (a.k.a. Ghost Busters) (1984)  0.356585    9
9                               Terminator, The (1984)  0.356091   10